<section data-ng-controller="AmazonfeesController" data-ng-init="findOne()">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Amazon Fees</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <a>Editar Amazon Fees</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <form data-ng-submit="update()" class="form-horizontal">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Update de Amazon Fee</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <br/><br/>
                            <div class="form-group"><label class="col-sm-2 control-label">Nome da Amazon Fee</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputNomeFee" name="nome_feee" data-ng-model="amazonfee.nome_fee" placeholder="Nome da Amazon Fee">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="selectTipoAmazonFee" class="col-sm-2 control-label">Tipo Amazon Fee</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="tipo_fee" id="selectTipoAmazonFee"
                                            data-ng-model="amazonfee.tipo_fee"
                                            data-ng-options="item for item in tiposFee">
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Regras para determinar o tamanho</h5>
                        </div>
                        <div class="ibox-content">
                            <br/><br/>
                            <div class="form-group">
                                <label for="selectTipoAmazonFee" class="col-sm-2 control-label">Regra Size</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="amazonfee.nome_size" id="selectCriteriosSizeNomeSize"
                                            data-ng-model="amazonfee.criterios_size.nome_size"
                                            data-ng-options="item for item in tiposCriteriosSize">
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Regras</label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="selectCriteriosSizeTipoDimensao"
                                            data-ng-model="objCriterioSize.tipo_dimensao"
                                            data-ng-options="item for item in tiposDimensao">
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <input type="number" class="form-control" id="inputCriteriosSizeDadosValor" data-ng-model="objCriterioSize.dados.valor" placeholder="Valor">
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="tipo_unidade" id="selectCriteriosSizeDadosUnidade"
                                            data-ng-model="objCriterioSize.dados.unidade"
                                            data-ng-options="item for item in tiposUnidade">
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="selectCriteriosSizeOperador"
                                            data-ng-model="objCriterioSize.operador"
                                            data-ng-options="item for item in tiposOperador">
                                    </select>
                                </div>
                                <div class="col-sm-2" ng-show="objCriterioSize.tipo_dimensao === 'medida'">
                                    <select class="form-control" id="selectCriteriosSizeDadosLados"
                                            data-ng-model="objCriterioSize.dados.lados"
                                            data-ng-options="item for item in tiposLadosCriteriosSize">
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <span data-ng-click="addRegras()" style="cursor: pointer; margin-top: 10px;" class="fa fa-plus"></span>
                                </div>
                                <div class="row">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div style="margin-top: 10px; margin-left: 10px;" data-ng-repeat="reg in arrayCriteriosSize">
                                            <small>{{ reg.tipo_dimensao }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <!--<label class="col-sm-2 control-label">Regras</label>-->
                                <div>
                                    <div class="row" data-ng-repeat="reg in arrayCriteriosSize" style="margin-bottom: 13px;">
                                        <div class="col-sm-offset-2 col-sm-2">
                                            <select class="form-control"
                                                    data-ng-model="reg.tipo_dimensao"
                                                    data-ng-options="item for item in tiposDimensao">
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <input type="number" class="form-control" data-ng-model="reg.dados.valor" placeholder="Valor">
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control" name="tipo_unidade"
                                                    data-ng-model="reg.dados.unidade"
                                                    data-ng-options="item for item in tiposUnidade">
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control"
                                                    data-ng-model="reg.operador"
                                                    data-ng-options="item for item in tiposOperador">
                                            </select>
                                        </div>
                                        <div class="col-sm-2" ng-show="reg.tipo_dimensao === 'medida'">
                                            <select class="form-control"
                                                    data-ng-model="reg.dados.lados"
                                                    data-ng-options="item for item in tiposLadosCriteriosSize">
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <span data-ng-click="addRegras()" style="cursor: pointer; margin-top: 10px;" class="fa fa-plus"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input style="margin-left: 15px;" type="submit" class="btn btn-primary pull-right" value="Update">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>